.login-page {
    background-image: url(../../assets/homePage/homePageBG.jpg);
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.bg-color {
    background-color: rgba(0, 0, 0, 0.459);
}

.logo-of-netflix {
    width: 100%;
    max-width: 1200px;
    position: relative;
    top: 40px;
    margin: auto;
}

.logo-of-netflix span {
    position: absolute;
    left: 0;
}

.login-page-con {
    height: 100vh;
}

.login-main-container {
    margin: auto;
}